:root,
[data-theme="light"] {
  --layout-font-sans-serif:
    system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --layout-font-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
  --layout-gradient: linear-gradient(180deg, rgb(255 255 255 / 15%), rgb(255 255 255 / 0%));
  --layout-body-font-family: var(--layout-font-sans-serif);
  --layout-body-font-size: 0.9375rem;
  --layout-body-font-weight: 500;
  --layout-body-line-height: 1.5;
  --layout-body-color: #595d69;
  --layout-tertiary-bg-rgb: 247, 248, 249;
  --layout-body-bg: #ededed;
  --layout-home-notice-bg-rgb: 89, 93, 105;
}

[data-theme="dark"] {
  --layout-body-color: #a1a1a8;
  --layout-body-bg: #222529;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--layout-body-font-family);
  font-size: var(--layout-body-font-size);
  font-weight: var(--layout-body-font-weight);
  line-height: var(--layout-body-line-height);
  color: var(--layout-body-color);
  background-color: var(--layout-body-bg);
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.search-form {
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(0 0 0 / 10%);
  transition: all 0.3s ease-in-out;

  .search-container {
    .search-fields {
      input {
        color: #595d69;
        background-color: transparent;
      }

      button {
        color: #595d69;
      }
    }
  }
}

[data-theme="dark"] {
  .search-form {
    color: #a1a1a8;
    background-color: #191b1d;

    .search-container {
      .search-fields {
        input {
          color: #a1a1a8;
        }

        button {
          color: #a1a1a8;
        }
      }
    }
  }
}
